@{
    ViewBag.Title = "Display email";
}

<h2>@ViewBag.Title.</h2>

    <h4>Confirmation email sent.</h4>
    <div class="form-group">
        Please check your email and confirm registration.
    </div>


